@tailwind base;
@tailwind components;
@tailwind utilities;

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(7,0,36);
background: linear-gradient(143deg, rgba(7,0,36,1) 29%, rgba(46,12,93,1) 82%);
  z-index: -1;
}

#content {
  position: relative;
  z-index: 1;
}

.font-quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-bonanova {
  font-family: "Bona Nova SC", serif;
  font-weight: 700;
  font-style: normal;
}

.font-roboto {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}


.font-header {
  /* background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  font-weight: bold;
}
.font-header2 {
  background: linear-gradient(to right, rgb(22, 142, 202), rgb(229, 243, 253));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  z-index:9999;
  background-color: #ff0055;
  transform-origin: 0%;
}

.bounce-on-hover {
  transition: transform 0.2s ease-in-out;
}

.bounce-on-hover:hover {
  animation: bounce 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55) both;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.rainbow-hover {
  font-size: 16px;
  font-weight: 700;
  color: #ff7576;
  background-color: #2B3044;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 24px;
  position: relative;
  line-height: 24px;
  border-radius: 9px;
  box-shadow: 0px 1px 2px #2B3044,
    0px 4px 16px #2B3044;
  transform-style: preserve-3d;
  transform: scale(var(--s, 1)) perspective(600px)
    rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
  perspective: 600px;
  transition: transform 0.1s;
}

.sp {
  background: linear-gradient(
      90deg,
      #866ee7,
      #ea60da,
      #ed8f57,
      #fbd41d,
      #2cca91
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: block;
}

.rainbow-hover:active {
  transition: 0.3s;
  transform: scale(0.93);
}

.divider-line{
  height:1px;
  background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}
